.card2 {
   width: 70%;
   margin: 5rem auto;
   box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
   display: flex;
   flex-wrap: wrap;
   background-color: #fff;
}

.button__group {
   display: flex;
   justify-content: center;
}

.new__button {
   background-color: rgb(42, 88, 163);
   color: #fff;
   /* border-bottom: 2px solid rgb(168, 168, 168); */
   margin-bottom: 1rem;
   border-radius: 50px;
   letter-spacing: 0.5px;
}

.new__button:hover {
   background-color: rgb(52, 108, 199);
   color: white;
}

.new__button__icon {
   font-size: 1.2rem;
}

.edit__button {
   background-color: rgb(19, 63, 197);
   color: white;
   margin-right: 1rem;
}

.edit__button:hover {
   background-color: rgb(41, 21, 221);
   color: white;
}

.delete__button {
   background-color: #fff;
   /* color: #fff; */
   color: #b11b1b;
   border: 1px solid #b11b1b !important;
}

.no-content__message {
   color: #bbbbbb;
   font-size: 1rem;
   padding: 1rem;
   text-align: center;
   display: inline-block;
   margin: auto;
}

td {
   text-transform: capitalize;
}

th:first-of-type,
th:last-of-type {
   width: 5rem;
}

@media only screen and (max-width: 991px) {
   .card2 {
      width: 80%;
      margin: auto;
      margin-top: 5rem;
   }

   .centrar {
      width: 100%;
   }

   h4 {
      text-align: center;
   }

   table tr {
      display: flex;
      flex-direction: column;
      margin-bottom: 3em;
      border: 1px solid rgba(136, 136, 136, 0.5);
   }

   table th {
      display: none;
   }

   table td[data-titulo] {
      display: flex;
   }

   table td[data-titulo]::before {
      content: attr(data-titulo);
      width: 100px;
      font-weight: bold;
   }

   .padding-button {
      width: 250px;
   }

   /* button {
      width: 250px;
   } */
}

@media only screen and (max-width: 767px) {
   .padding-button {
      width: 180px;
   }

   /* button {
      width: 180px;
   } */
}

@media only screen and (max-width: 541px) {
   .padding-button {
      width: 100px;
   }

   /* button {
      width: 100px;
   } */
}

@media only screen and (max-width: 563px) {
   .botones {
      display: flex;
   }

   .new__button {
      width: 100%;
      border-radius: 0px;
   }
}

@media only screen and (max-width: 350px) {
   .card2 {
      padding-right: 250px;
   }
}
